<div class="container">
    <div class="row" ng-controller="listaFilmes">
        <div class="col-sm-3" ng-repeat="filme in filmes">
            <div class="card">
                <img class="card-img-top" src="../assets/img/episode_id_{{filme.episode_id}}.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{filme.title}}</h5>
                    <!--p class="card-text">
                        {{filme.opening_crawl}}
                    </p-->
                    <a ng-href='#/filme' ng-click="ID_FILME(filme.url)" class="btn btn-primary id_do_filme">Go somewhere</a>
                </div>
            </div>

        </div>

    </div>
</div> 